extends ./layout.pug
block content
    h1.titi Médicos
    a.btn-primario(href="#") Crear Médico
    if nombre
        .alert.alert-success
            h4 El médico #{nombre} fue creado correctamente

    table
        thead
            tr
                th ID
                th Nombre
                th Apellido
                th DNI
                th Email
                th Estado
                th Acciones
        tbody
            each medico in medicos
                tr
                    td #{medico.id_medico}
                    td #{medico.nombre}
                    td #{medico.apellido}
                    td #{medico.dni}
                    td #{medico.email}
                    td= medico.activo ? "Activo" : "Inactivo"
                    td
                        a.actualizar(href=`/medicos/buscar/${medico.id_medico}`) Actualizar
                        a.eliminar(href=`/medicos/eliminar/${medico.id_medico}`) Eliminar